# Hugging Face API token (read scope is enough)
HF_API_TOKEN=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



curl -X POST "https://api-inference.huggingface.co/models/facebook/htdemucs" ^
  -H "Authorization: Bearer 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" ^
  -H "Content-Type: application/octet-stream" ^
  --data-binary "@C:\Users\User\Downloads\f1.mp3"